.header {
  border-bottom: rgb(207, 206, 206) solid 0.2rem;
}

.navUl {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: auto;
}
.navUl li {
  font-style: italic;
  background-color: rgba(204, 202, 202, 0.788);
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
}
.navUl a:hover {
  background-color: gold;
  color: rgb(14, 139, 212);
}

main {
  border: silver solid 2px;
  border-radius: 10px;
  padding: 20px;
  margin: 4% 8% 0 8%;
}

article {
  display: flex;
  justify-content: space-around;
  flex-flow: nowrap row;
  margin: 5% 5% 0 5%;
}

article :hover {
  background-color: skyblue;
  transition: 0.5s;
}

.topic {
  background-color: silver;
  box-sizing: border-box;
  border-radius: 10px;
}

figure {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

img {
  width: 180px;
  align-items: baseline;
}

#desc {
  width: 180px;
  background-color: greenyellow;
  border-radius: 50%;
}
.topic a {
  background-color: orange;
  border: orange solid 10px;
  border-radius: 17px;
}
