.header {
  border-bottom: rgb(207, 206, 206) solid 0.2rem;
}

.navUl {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: auto;
}
.navUl li {
  font-style: italic;
  background-color: rgba(204, 202, 202, 0.788);
  font-size: 1.4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-around;
}
.navUl a:hover {
  background-color: gold;
  color: rgb(14, 139, 212);
}

.goals {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  padding: 1%;
}
div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: silver;
  border-radius: 5%;
  padding: 1%;
}

div:hover {
  background-color: skyblue;
  /* border-top: skyblue; */
  transition: 0.5s;
}

.goals figure {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.image {
  width: 100px;
}
